.song-detail {
  width: 100%;
  padding-top: 5vh;
  padding-right: 5%;
}

.album-detail-container {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
}

.album-detail-container > form {
  width: 70%;
  position: relative;
}

.album-detail-container > img {
  height: 13vw;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.song-detail-container {
  margin-bottom: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  font-weight: 500;
  font-size: clamp(0.6rem, 1.5vw, 1rem);
  margin-right: 5%;
}

.song-duration {
  margin-right: 0;
}

input {
  width: 45%;
  height: 2.5vw;
  max-height: 22px;
  padding: 1% 1.5%;
  font-weight: 400;
  border: none;
  border-radius: 7.5px;
  font-size: clamp(0.6rem, 1.5vw, 1rem);
}

#img_album {
  padding: 0;
}

#image_path > img {
  height: 3vh;
  width: 3vh;
  margin-right: 5%;
}

.song-list-container {
  height: 50%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  margin: 4% 0;
}

.song-list-detail {
  width: 100%;
  margin-left: 2%;
  display: flex;
  align-items: left;
}

.detail-img {
  margin-right: 3%;
  height: 4.5vh;
  width: 4.5vh;
}

.detail-song {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .song-list-container {
    margin-top: 14%;
  }
}
