.song-detail {
  width: 70%;
  padding-top: 5vh;
  padding-right: 5%;
  position: relative;
}

.song-detail-container {
  margin-bottom: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  font-weight: 500;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  margin-right: 5%;
}

input {
  width: 45%;
  height: 2.5vw;
  padding: 1% 1.5%;
  font-weight: 400;
  border: none;
  border-radius: 7.5px;
}

#img_album {
  padding: 0;
}

#image_path > img {
  height: 3vh;
  width: 3vh;
  margin-right: 5%;
}

.song-list-container {
  height: 30%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  margin: 4% 0;
}

.song-list-detail {
  width: 100%;
  margin-left: 2%;
  display: flex;
  align-items: left;
}

.detail-img {
  margin-right: 3%;
  height: 4.5vh;
  width: 4.5vh;
}

.detail-song {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
