@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600&display=swap");

* {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark_green: #1db954;
  --light_green: #1ed760;
  --black: #191414;
  --white: #ffffff;
  
  --extra_light: 200;
  --light: 300;
  --regular: 400;
  --bold: 600;
  --extra_bold: 700;
}

body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}

.page-container {
  width: 82%;
  height: 100%;
  padding: 4%;
  color: white;
  background-color: var(--black);
}

.page-title {
  font-weight: var(--extra_bold);
  font-size: clamp(0.9rem, 4vw, 3.5rem);
}

.relative-pos {
  position: relative;
}

.song-list-container {
  height: 60%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  margin: 7% 0;
}

.song-list {
  /* padding-top: 2.5%;
  padding-bottom: 2.5%;
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5%;
  max-height: 80%;
  width: 100%;
  align-items: center;
}

.song-list:hover{
  cursor: pointer;
}

.song-list > img {
  pointer-events: none;
}

.song-list > div {
  pointer-events: none;
}

.song-list > label {
  pointer-events: none;
}

.user-list-container {
  height: 55%;
  width: 100%;
  overflow-y: auto;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  margin: 2% 0;
}

.page-anchor {
  height: 5%;
  width: 82%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 5vh;
}

.page-anchor > label {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1.5vh;
}

.page-anchor-button {
  height: 90%;
  width: 10vh;
  background-color: var(--light_green);
  border: none;
  border-radius: 15px;
  font-size: 1.5vh;
  font-weight: bold;
  gap: 2.5%;
  cursor: pointer;
}