.search-bar-container {
  width: 100%;
  height: 10%;
}

.search-bar-container > form {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 90%;
  gap: 5%;
}

.search-bar {
  float: left;
  height: 100%;
  width: 25%;
}

.song-list > img {
  margin-right: 5%;
  height: 2.25vh;
  width: 2.25vh;
}