.info {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3%;
    margin-top: 3%;
}

.info-column {
    display: flex;
    justify-content: center;
    width: 45%;
    border: 3px solid var(--light_green);
    border-radius: 20px;
    padding: 1%;
    color: black !important;
    font-size: 2vh;
    font-weight: bold;
    background: var(--light_green);
}

.user-list {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1%;
}

.user {
    display: flex;
    border: 1px solid var(--light_green);
    border-radius: 20px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    justify-content: center;
    width: 45%;
}

.text-info {
    font-weight: 500;
    font-size: 1.5vh;
}